<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white ">

    <span class="aside_mesa">
        <i class="pi pi-arrow-left" style="font-size: 1rem"> </i>
        <a routerLink="/home">Voltar </a>
    </span>

    <!-- <img src="assets/logo.png" class="aside_logo"  alt="" srcset=""> -->

    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start aside_menu">
        <li>
            <a href="#pratos"> <i class="pi pi-check" style="font-size: 1rem"></i> Entradas</a>
        </li>

        <li>
            <a href="#sobremesas"><i class="pi pi-check" style="font-size: 1rem"></i> Sobremesas</a>
        </li>

        <li>
            <a routerLink="/cardapio"><i class="pi pi-check" style="font-size: 1rem"></i> Drinks</a>
        </li>

        <li>
            <a routerLink="/cardapio"><i class="pi pi-check" style="font-size: 1rem"></i> Sanduíches</a>
        </li>

    </ul>


</div>